Data_Solutions/HNK_Unified_DW_ADF/pipeline/11_PL_Model_To_Run.json
{
	"name": "11_PL_Model_To_Run",
	"properties": {
		"activities": [
			{
				"name": "Lookup Models to Run",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select distinct MODEL_ORDER as [model_order_level] from [config].[EXECUTION_LIST_TO_RUN]\nORDER BY MODEL_ORDER ASC",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "test1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Models",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Models to Run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Models to Run').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Model_Level_Execution",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "21_PL_Model_Level_Execution",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"model_order_level": {
										"value": "@item().model_order_level",
										"type": "Expression"
									},
									"Pipeline_Model_Run_ID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-01-30T10:58:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}